.board {
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
  }
  .square {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }
  .white {
    background-color: #f0d9b5;
  }
  .black {
    background-color: #b58863;
    color: white;
  }

.svg-container {
  width: 50px; 
  height: 50px; 
  overflow: hidden;
  position: relative;
} 


.svg-container svg {
  position: absolute;
  width: 100%; 
  height: 100%; 
  top: 0;
  left: 0;
} 

svg {
  scale: 50%;
}


.drag {
  position:absolute;
  height: 50px;
  width: 50px;
}